{% extends 'near_search/base.html' %}
{% load static %}

{% block title %}グルメサーチ{% endblock %}

{% block body %}
<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <h1 class="text-lg text-center my-8">
    近くのレストランを探すアプリ
  </h1>
  <p class="w-full sm:w-96 mx-auto text-center my-8">
    ホットペッパーグルメのAPIを利用して、現在地付近のレストランを検索します。<br>
  </p>
  <form action="{% url 'near_search:search' %}" method="get" onsubmit="validate()"
    class="w-full md:w-3/4 mx-auto my-5 p-8 rounded shadow-lg"
  >
    <div class="grid grid-cols-2 gap-4">
      <div class="">
        <label for="lat" class="text-xs">緯度</label>
        <input type="number" name="lat" id="lat" readonly
          placeholder="35.669220"
          class="form-control rounded inline-block w-full"
          >
      </div>
      <div class="">
        <label for="lng" class="text-xs">経度</label>
        <input type="number" name="lng" id="lng" readonly
          placeholder="139.761457"
          class="form-control rounded inline-block w-full"
          >
      </div>
      <button
        type="button"
        onclick="getLocation()"
        class="px-6
          py-2.5
          bg-blue-600
          text-white
          inline-block
          font-medium
          col-span-2
          text-xs
          leading-tight
          rounded
          shadow-md
          hover:bg-blue-700 hover:shadow-lg
          focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg
          transition
          duration-150
          ease-in-out">
      端末の現在地を取得する</button>
      <div class="col-span-2">
        <p class="text-xs">現在地からの半径</p>
        <div class="flex justify-center flex-wrap w-full">
          <div class="form-check form-check-inline px-5 w-32">
            <input class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              type="radio" name="range" id="range1" value="1">
            <label class="form-check-label inline-block text-gray-800" for="range1">300m</label>
          </div>
          <div class="form-check form-check-inline px-5 w-32">
            <input class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              type="radio" name="range" id="range2" value="2">
            <label class="form-check-label inline-block text-gray-800" for="range2">500m</label>
          </div>
          <div class="form-check form-check-inline px-5 w-32">
            <input class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              type="radio" name="range" id="range3" value="3">
            <label class="form-check-label inline-block text-gray-800" for="range3">1000m</label>
          </div>
          <div class="form-check form-check-inline px-5 w-32">
            <input class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              type="radio" name="range" id="range4" value="4">
            <label class="form-check-label inline-block text-gray-800" for="range4">1500m</label>
          </div>
          <div class="form-check form-check-inline px-5 w-32">
            <input class="form-check-input form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
              type="radio" name="range" id="range5" value="5">
            <label class="form-check-label inline-block text-gray-800" for="range5">2000m</label>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5">
      <input type="text" name="text" placeholder="検索キーワード"
        class="form-control rounded inline-block w-full"
      >
    </div>
    <div class="text-right">
      <button type="submit"
        class="px-10
        py-2.5
        bg-blue-600
        text-white
        inline-block
        block
        font-medium
        text-xs
        leading-tight
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out">
      検索</button>
    </div>
  </form>
</main>

<script type="text/javascript">
// Location APIを利用して現在地を取得する
const getLocation = () => {
  if('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition((position) => {
      const latElm = document.getElementById("lat");
      const lngElm = document.getElementById("lng");
      latElm.value = position.coords.latitude;
      lngElm.value = position.coords.longitude;
      return;
    });
  } else {
    console.error("Geolocation APIが利用不可")
    alert("現在地を取得できませんでした")
  }
}
</script>
{% endblock %}