{% extends 'near_search/base.html' %}
{% load static %}

{% block title %}グルメサーチ | 検索結果一覧{% endblock %}

{% block body %}
<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <a href="{% url 'near_search:index' %}" class="text-gray-700 pt-8 inline-block">トップへ戻る</a>
  <h2 class="text-lg text-center my-8">
    検索結果一覧
  </h2>
  <ul>
    {% for shop in object_list %}
    <li class=" w-full sm:max-w-full sm:flex my-5">
      <div class="h-48 sm:h-auto sm:w-48 flex-none bg-cover bg-center rounded-t sm:rounded-t-none sm:rounded-l text-center overflow-hidden"
        style="background-image: url('{{ shop.photo_url }}')" title="{{ shop.name }}">
      </div>
      <div class="w-full shadow-md bg-white rounded-b sm:rounded-b-none sm:rounded-r px-4 pb-4 leading-normal">
        <div class="mb-1 py-1">
          <h3 class="text-gray-900 font-bold text-xl mb-2">
            <a href="{% url 'near_search:shop' shop.id %}" class="underline">{{ shop.name }}</a></h3>
          <p class="text-gray-700 text-sm my-1">{{ shop.genre_name }} > {{ shop.genre_catch }}</p>
          <p class="text-gray-700 text-sm">{{ shop.catch }}</p>
        </div>
        <div>
          <span class="text-xs">アクセス</span>
          <p class="text-xs pl-3">{{ shop.access }}</p>
        </div>
        <div>
          <span class="text-xs">営業時間</span>
          <p class="text-xs pl-3">{{ shop.open }}</p>
        </div>
        <div>
          <span class="text-xs">定休日</span>
          <p class="text-xs pl-3">{{ shop.close }}</p>
        </div>
      </div>
    </li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
  </ul>

  <div class="w-full text-center my-10">
    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
      <a href="{{ paginator_urls.prev }}" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
        <span class="sr-only">Previous</span>
        <!-- Heroicon name: mini/chevron-left -->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
        </svg>
      </a>
      <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
      {% if page_obj.has_previous %}
      <a href="{{ paginator_urls.first }}" 
        class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
      >1</a>
      {% if page_obj.previous_page_number > 1 %}
      <span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
      <a href="{{ paginator_urls.prev }}" 
        class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
      >{{ page_obj.previous_page_number }}</a>
      {% endif %}
      {% endif %}

      <a href="{{ paginator_urls.current }}" 
        aria-current="page" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20"
      >{{ page_obj.number }}</a>

      {% if page_obj.has_next %}
      {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
      <a href="{{ paginator_urls.next }}" 
        class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
      >{{ page_obj.next_page_number  }}</a>
      <span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
      {% endif %}
      <a href="{{ paginator_urls.last }}" 
        class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20"
      >{{ page_obj.paginator.num_pages  }}</a>
      {% endif %}

      <a href="{{ paginator_urls.next }}" 
        class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
        <span class="sr-only">Next</span>
        <!-- Heroicon name: mini/chevron-right -->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </a>
    </nav>
  </div>
  
  <div class="text-center my-8">Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a></div>
</main>
{% endblock %}